<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Dairy Management System | Customer Registration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>    
   
    
</head>
<body>
<div id="">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/home">
    <img src="/logo.jpg" alt="logo" style="width:40px;">
  </a>  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/customer/findAll">All Registered Customer</a>
    </li>      
    <li class="nav-item">
      <a class="nav-link" href="/customer/signup">Register Customer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/customer/search">Search Customer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/milk/addMilkPage">Add Milk</a>
    </li>    
    <li class="nav-item">
      <a class="nav-link" href="/milk/searchMilkPage">Search Milk</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/rate/addRatePage">Add Rate</a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" href="/rate/findAll">View RateList</a>
    </li>  
  </ul>
</nav>    
</div><br/><br/><br/><br/>
<div class="container">
	
	<div class="">
		<h2>Display all Customers</h2>
          <p>Type something in the input field to search the table for name, mobile number etc:</p>  
          <input class="form-control" id="myInput" type="text" placeholder="Search..">
            <br>
          <table class="table table-hover table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Customer Code</th>  
                <th>Name</th>
                <th>Father name</th>
                <th>Mobile</th>
                <th>Address</th>
                <th>Edit Operation</th>
                <th>Add Milk Operation</th>  
              </tr>
            </thead>              
            <tbody id="myTable" th:each="customer: ${customers}">
              <tr>
                <td th:text="${customer.customerCode}"></td>
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.fatherName}"></td>
                <td th:text="${customer.mobileNumber}"></td> 
                <td th:text="${customer.address}"></td>
                <td><a th:with="var=*{customer.id}" th:href="@{'/customer/edit?id='+${var}}">Edit</a></td>
                <td><a th:with="var=*{customer.id}" th:href="@{'/milk/addMilkPageWithCustomer?customerId='+${var}}">Add Milk</a></td>
                </tr>  
            </tbody>
          </table>
        
	</div>

</div>

    
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});    
       
</script>
    

</body>
</html>