<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Dairy Management System | Add Rate</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    
    
</head>
<body>
<div id="">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/home">
    <img src="/logo.jpg" alt="logo" style="width:40px;">
  </a>  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/customer/findAll">All Registered Customer</a>
    </li>      
    <li class="nav-item">
      <a class="nav-link" href="/customer/signup">Register Customer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/customer/search">Search Customer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/milk/addMilkPage">Add Milk</a>
    </li>    
    <li class="nav-item">
      <a class="nav-link" href="/milk/searchMilkPage">Search Milk</a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="/rate/addRatePage">Add Rate</a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" href="/rate/findAll">View RateList</a>
    </li>        
  </ul>
</nav>    
</div><br/><br/><br/><br/>
<div class="container">		
        <fieldset>
        <h2>Update Rate Form</h2>     
		<form action="#" th:action="@{/rate/update}" th:object="${updateRate}" method="post">  
            <input type="hidden" th:value="${updateRate.id}" th:field="*{id}"/>
                <div class="form-group">
                    <label for="fat">Fat:</label>
				    <input type="number" class="form-control" th:value="${updateRate.fat}" min="0.0" step=".1" pattern="^\d+(?:\.\d{1,2})?$" th:field="*{fat}"/>
                </div>
                <div class="form-group">
                    <label for="snf">Snf:</label>
				    <input type="number" class="form-control" th:value="${updateRate.snf}" min="0.0" step=".1" pattern="^\d+(?:\.\d{1,2})?$" th:field="*{snf}"/> 
                </div>
                 <div class="form-group">
                    <label for="rate">Rate:</label>
				    <input type="number" class="form-control" th:value="${updateRate.rate}" min="0.0" step=".01" pattern="^\d+(?:\.\d{1,2})?$" th:field="*{rate}"/> 
                </div>	
			<button type="submit" class="btn btn-primary btn-block">Update Rate</button>
		</form>       
        </fieldset>
</div> 
</body>
</html>