<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dairy Management System | Customer Registration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    
    
</head>
<body>

<div class="container">
	
	<div class="">
		<h2>Welcome to Dairy Management System</h2>
		<a href="/customer/signup" class="btn btn-info" role="button">Customer Signup</a>
		<a href="/customer/search" class="btn btn-info" role="button">Search Customer</a>
		<a href="/milk/searchMilkPage" class="btn btn-info" role="button">Search Milk</a>
		<a href="/customer/findAll" class="btn btn-info" role="button">All Customers</a>
		<br/>
		<a href="/milk/addMilkPage" class="btn btn-info" role="button">Add Milk</a>
	
	</div>

</div>

</body>
</html>